<div class="container-fluid displayBox col-md-10" ng-app="myApp" controller="passController as pass">
	<div class="subheader">Sell a Pass</div>
	<form class="form-horizontal" role="form" ng-submit="createPass(pass)">
		<div class="col-md-2">
			<label class="control-label">Type</label>
			<select id="type" ng-model="pass.type" class="form-control" name="type" required="">
				<option value="">Select Type</option>
				<option value="hour">Hour Pass</option>
				<option value="day">Day Pass</option>
				<option value="week">Week Pass</option>
				<option value="month">Month Pass</option>
				<option value="year">Year Pass</option>
			</select>
		</div>
		<div ng-show="form.submitted || form.type.$touched">
			<div ng-show="form.type.$error.required">Please Select a Type</div>
		</div>
		<div class="col-md-1">
			<label class="control-label">Price: </label> 
			<input id="price" type="number" step="0.01" ng-model="pass.price" class="form-control" placeholder="$29.99"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" name="price" required/>
			<div role="alert" ng-show="form.submitted || form.price.$touched">
				<span ng-show="form.price.$error.required">Price is Required!</span>
				<span ng-show="form.price.$error.price">Invalid Price Format!</span>
			</div>
		</div>
		<div class="col-md-2">
			<label class="control-label">Captain: </label> 
			<select id="captain" ng-model="pass.customer" class="form-control" ng-options="customer as customer.lastName for customer in customerList">
				<option value="">Select Captain</option>
			</select>
		</div>
		
		<div class="col-md-2">
			<label class="control-label">Ship: </label> 
			<select id="vehicle" ng-model="pass.vehicle" class="form-control" ng-options="vehicle as vehicle.make for vehicle in vehicleList">
				<option value="">Select Ship</option>
			</select>
		</div>
		
		<div class="col-md-3">
			<label class="control-label">Expiration Date: </label> 
			<input id="expDate" type="text" ng-model="pass.expDate" placeholder="MM/DD/YYYY"/>
		</div>
		<div class="modal-footer">
			<div class="col-md-5 col-md-offset-4 control-label">
				<button id="submit" ng-disabled="frm.$invalid" class="form-control pull-right" type="submit" value="submit" class="btn btn-success btn-default button">
					Save
				</button>
			</div>
		</div>
	</form>
</div>