<div class="container-fluid displayBox col-md-10">
	<!-- <h1><span>Space Port</span></h1>  <h2><span>Dashboard</span></h2>
	<div class="col-md-2 navbar">
		<ul>
			<li><a id="createPass" ui-sref="createPass">Create Pass</a></li>
		    <li><a id="viewPasses" ui-sref="viewPasses">View Passes</a></li>
		    <li><a id="createCustomer" ui-sref="createCustomer">Create Customer</a></li>
		    <li><a id="viewCustomers" ui-sref="viewCustomers">View Customer</a></li>
		    <li><a id="createVehicle" ui-sref="createVehicle">Create Ship</a></li>
			<li><a id="viewVehicles" ui-sref="viewVehicles">View Ships</a></li>
		</ul>
	</div> -->


	
		<div class="subheader">Home Page</div>
	
</div>