/* @font-face {
	font-family: TNG_Credits;
	src: url(css/TNG_Credits/TNG_Credits) format("truetype");
	font-size: 36px;
}
 */
 
body{
  background:#000;
  font-family: fantasy; 
  text-transform:uppercase;
}
h1, h2{
  position:relative;
  color:#9c9df7;
  text-align:right;
  border-radius:99px;
  z-index:0;
  font-weight:normal; 
}
h1{
  background:#ffac04;
  margin-bottom:2em;
  font-size:3em;
}
h1::before{
  content:"";
  background:#000;
  width:5px;
  position:absolute; 
  height:100%;
  left: 60px;
}
h2{
  color:#9c9df7;
  background:#e0606f;
  margin-left:2em;
  font-size:2em;
}
h2::before{
  content:"";
  height:4em;
  width: 8em;
  left:-2em;;
  position:absolute;
  border-radius:8em;
  background: linear-gradient(to bottom, #e0606f 0%,#e0606f 50%,#000 50%,#000 100%);
}
h2::after{
  content:"";
  background:#000;
  height:2em;
  width:2em;
  position:absolute;
  left:5.5em;
  top: 1.2em;
  border-radius:.5em;
}
span{
  padding:0 10px;
  background:black;
  margin-right: 1.5em;
}

.displaybox span {
	background-color: #dcdcdc;
}
.container{
  margin:0 8em;
}
ul{
  z-index:100;
  margin-top: 6em;
  max-width:15em;
  text-align:right;
  margin-left:0;
  padding-left:0;
}
li{
 background:#e0606f; 
 padding:.5em;
 margin:.25em;
 cursor:pointer;
 }
 
li:nth-child(odd){
  background:#fe817f;
}

.displayBox {
	background:#ffac04;
	color:#9c9df7;
	margin: 15px;
	padding:10px;
	color: black;
	font-size: 1.1em;
	letter-spacing: 3px;
	line-height: 40px;
}

.displayBox button {
	background: #9999FF;
	color: black;
	border: 1px solid black;
}
.button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  font-size: 2em;
}
input {
	min-width: 65px;
}
input.ng-invalid.ng-dirty {
	border: 1px solid red;
}

aside{
	display:block;
}

/* .modal-footer {
	font-size: 1.9em;
} */

.subheader {
	font-size: 2em;
}